.change-theme {
	width: 500px;
	height: 30px;
	display: flex;
	gap: 10px;

	&__btn {
		width: 60px;
		height: 100%;

		&--red {
			background-color: red;
		}

		&--purple {
			background-color: blueviolet;
		}

		&--orange {
			background-color: orange;
		}

		&--green {
			background-color: green;
		}

		&--sky {
			background-color: #7ec0e9;
		}
	}
}
